# Data directory
server/data/*
!server/data/.gitkeep

# Warnings directory
server/data/warnings/*
!server/data/warnings/.gitkeep

# Node modules
node_modules/

# Environment files
.env
.env.local
.env.*.local

# IDE files
.vscode/
.idea/

# Build files
/dist
/build

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# Terminal document
terminal
terminal.txt
terminal.md 